<div class="ous-sidebar {{if this.collapsed 'collapsed'}}" style="width: {{this.sidebarWidth}}px;">
  <div class="online-users-header" {{on "click" this.toggleCollapseFn}}>
    <span class="header-text">Online Users ({{this.totalOnlineCount}})</span>
    <span class="collapse-icon">
      {{#if this.collapsed}}
        ▶
      {{else}}
        ▼
      {{/if}}
    </span>
  </div>

  {{#unless this.collapsed}}
    <div class="online-users-content">
      {{#if this.loading}}
        <div class="loading-container">
          <div class="spinner"></div>
          <span>Loading online users...</span>
        </div>
      {{else}}
        {{#each this.sortedGroups as |group|}}
          <div class="user-group">
            <div class="group-header">
              {{group.displayName}}
            </div>
            <div class="user-list">
              {{#each group.users as |user|}}
                <div class="user-item" title="{{user.username}}">
                  {{#if this.siteSettings.online_user_show_avatars}}
                    {{avatar user imageSize="small" extraClasses="user-avatar"}}
                  {{/if}}
                  {{user-link user=user class="user-name"}}
                </div>
              {{/each}}
            </div>
          </div>
        {{else}}
          <div class="no-users">
            No users online
          </div>
        {{/each}}
      {{/if}}
    </div>
  {{/unless}}
</div>
